.backgroundColor{
    background-color: #FAFAFA;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top:5rem;
}
.bigTitle{
    margin-bottom: 3rem;
}
.projectWrapper{
    margin-top:1rem;
    margin-bottom:1rem;
}
.projectsTitle{
    font-size: 4rem;
    font-family: "caveat";
}
.frontendTitle{
    font-family: "caveat";
    font-size: 2rem;
}
.bigTitle{
    animation: 
    titleAnimation 2s;
}
.bottomWrapper{
    margin-left: 14.5rem;
    width: 20rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.leftYellow{
    position: 1;
}
.frontYellow{
    position: 2;
}
.topYellow{
    border: 1px solid #E09945;
    background-color: #F5C547;
    height: 1rem;
    width: 10.1rem;
    transform: rotate(180deg) translate(-148px, -45px) skew(25deg, 0deg);
    margin-left: 10rem;
    position: absolute;
}
.leftYellow{
    border: 1px solid #E09945;
    background-color: #E09945;
    height: 8.7rem;
    width: 1rem;
    margin-top: 5.4rem;
    transform: rotate(30deg) translate(-30px, -25px) skew(30deg, 35deg);
    position: absolute;
}
.frontYellow{
    border: 1px solid #E09945;
    background-color: #F5C547;
    height: 10rem;
    width: 10rem;
    margin-top: 3rem;
    position: absolute;
}
.boxWrapper{
}
.divider{
    display: grid;
    grid-template-columns: 50% 50%;
}
