
ul {
  list-style: none;
}

.transition-enter {
  opacity: 0;
}
.transition-enter-active {
  opacity: 1;
  transition: opacity 5000ms;
}
.transition-exit {
  opacity: 1;
}
.transition-exit-active {
  opacity: 0;
  transition: opacity 5000ms;
}


.message-enter {
  opacity: 0;
}
.message-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}
.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0;
  transition: opacity 1500ms;
}
















