
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

ul {
  list-style: none;
}


.message-enter {
  opacity: 0;
}
.message-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
















